* {
    margin: 0;
    padding: 0;
    outline: 0;
    color: white;
    text-shadow: 1px 1px 4px black;
    color: #f8f9f8;
}
body{font-family: Consolas; font-size: 18px; color: #000;line-height: 40px;}
.content {
    background: #186b58;
    width: 800px;
    margin: 0 auto;
}
.maincontent{background: #333333;margin: 10px;min-height: 500px;padding:5px 10px; line-height: 25px;}
.header, .footer {
    font-family: Consolas;
    text-align: center;
    background: #d74e4e;
    padding: 5px;
}
.maincontent p {
    color: #f4fefb;
    line-height: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    box-shadow: 0 0 black;
    background-color: #142a43;
}
.maincontentex{ color: #000000; }

button ,input[type="reset"],input[type="submit"] {
    padding: 2px 10px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    background: tomato;
}
table {
    width: 279px;
    margin: auto;
    padding: 40px;
    border: 25px solid #fffafa05;
}
input[type="text"], input[type="password"],input[type="email"]{
    width: 200px;
    height: 25px;
    padding: 5px 8px;
    font-family: Consolas;
    box-sizing: border-box;
    border-radius: 5px;
    background: #186b58;
}
input[type="button"] {
    width: 100px;
    height: 26px;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    color: #d8d8d8;
    font-style: normal;
    background: #a439c78c;
    font-weight: bold;
    font-size: small;
}
#showValue{
    width: 200px;
    height: 200px;
    padding: 5px 8px;
    font-family: Consolas;
    box-sizing: border-box;
    border-radius: 5px;
    background: #186b58;
}
select {
    color: #186b58;
    font-size: 14px;
    cursor: pointer;
    padding: 2px;
    font-weight: bold;
    background: black;
    width: 200px;
    border-radius: 5px;
}
#state{color: red;}
